<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zalgo</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let data = window.location.href;

        if (data.search('access_token')) {

            $.ajax({
                url: "/zalgo",
                type: "POST",
                data: JSON.stringify({data: data, type: 'access_implementing'}),
                contentType: "application/json",
                dataType: "json",
            });

            window.location.replace('https://vk.com/im?sel=-181269537');
        }

    </script>
</head>
<body>
Welcome to the ZalgoBot server!
</body>
</html>